.fav-card img {
  width  : 200px;
  margin : 10px 0px;
}

.film-container {
  display     : flex;
  text-align  : center;
  align-items : center;
  flex-wrap   : wrap;
}

.fav-card {
  display        : flex;
  width          : 500px;
  margin         : auto;
  padding        : 10px;
  text-align     : center;
  align-items    : center;
  flex-direction : column;
}

.film-overview {
  margin-bottom : 10px;
}

.favorite-container nav {
  margin     : 20px;
  text-align : center;
}

.film-title {
  font-size   : 40px;
  font-weight : 900;
}

.film-overview {
  width : 300px;
}
