.film-container {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : space-around;
  align-items: center;
  width: 80%;
}

.film-card {
  padding    : 10px;
  text-align : center;
}

.film-card button {
  margin : auto;
}

.film-card img {
  width      : 250px;
  margin     : 10px 0px;
  transition : all .5s ease-in-out;
}

.film-card img:hover {
  transform  : scale(1.05);
  transition : all .5s ease-in-out;
}

.nowshowing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nowshowing-container nav {
  margin     : 20px;
  text-align : center;
}
