.newuser {
  text-align : center;
}

.newuser nav {
  margin     : 20px;
  text-align : center;
}

.new-user-form {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

.new-user-form input {
  width  : 200px;
  margin : 10px 0;
}
