body {
  color            : #2E86AB;
  background-color : #0A0908;
  font-family      : 'Advent Pro',
                     sans-serif;
}

.loggedIn {
  position  : absolute;
  top       : 10px;
  right     : 10px;
  font-size : 14px;
}

.app-header {
  margin     : 10px 0;
  color      : #2E86AB;
  text-align : center;
}

.app-header h1 {
  font-size   : 40px;
  font-weight : 900;
}

.login-link {
  color : #2E86AB;
}

.logout-button {
  color           : #2E86AB;
  border          : none;
  background      : none;
  text-decoration : underline;
  font-size       : 12px;
  font-weight     : 100;
  cursor          : pointer;
}

.navlink {
  margin : 10px;
  color  : #2E86AB;
}

.button {
  display          : block;
  width            : 150px;
  margin-bottom    : 10px;
  padding          : 5px;
  color            : #2E86AB;
  border           : none;
  background-color : #31393C;
  font-family      : 'Abel',
                     sans-serif;
  font-size        : 15px;
  font-weight      : 100;
  letter-spacing   : 2px;
  cursor           : pointer;
}
