body {
  /*background-color: aqua;*/
  font-family: 'Poiret One', cursive;
  color: white;
  background-image: url('https://cdn.shutterstock.com/shutterstock/videos/14663869/thumb/1.jpg?i10c=img.resize(height:160)');
}

.movie-header {
  text-align: center;
  color: dimgray;
  font-weight: bold;
}

.login-link{
  color: white;
  font-weight: bold;
}

.navlink {
  margin: 10px;
}
