body {
    font-family: 'Advent Pro',
    sans-serif;

    color: #2e86ab;
    background-color: #0a0908;
}

.loggedIn {
    font-size: 14px;

    position: absolute;
    top: 10px;
    right: 10px;
}

.app-header {
    margin: 10px 0;

    text-align: center;

    color: #2e86ab;
}

.app-header h1 {
    font-size: 40px;
    font-weight: 900;

    margin: 30px 10px 0 10px;
}

.login-link {
    color: #2e86ab;
}

.logout-button {
    font-size: 12px;
    font-weight: 100;

    cursor: pointer;
    text-decoration: underline;

    color: #2e86ab;
    border: none;
    background: none;
}

.navlink {
    margin: 10px;

    color: #2e86ab;
}

.button {
    font-family: 'Abel',
    sans-serif;
    font-size: 15px;
    font-weight: 100;

    display: block;

    width: 150px;
    margin-bottom: 10px;
    padding: 5px;

    cursor: pointer;
    letter-spacing: 2px;

    color: #2e86ab;
    border: none;
    background-color: #31393c;
}
